<div class="col-auto pe-0 ps-0 me-4">
  <div class="collapse collapse-horizontal nav-collapsed" id="navbarToggleExternalContent">
    <div class="p-4 typo-size">
      <h5>cars</h5>
      <h5>List cars</h5>
    </div>
  </div>
</div>