<nav class="navbar sticky-top navbar-light navbar-sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex">
      <form class="d-flex form-group search" role="search">
        <span class="fa fa-search m-glass"></span>
        <input class="form-control square" type="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        <button class="btn btn-outline-primary square" type="submit">Search</button>
      </form>
      <div class="dropdown ms-3 me-5">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="images/profile.png" alt="">
          Unis Badri
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>