<div class="col-auto pe-0">
  <div class="vh-100 w-10 d-flex flex-column sticky-top navbar-left">
    <div class="icon-container mt-3 mb-2">
      <img src="/images/Rectangle_63.png" alt="logo" class="logo-size">
    </div>
    <div class="icon-container pe-1 ps-1 mt-2 mb-2">
      <img src="/images/dashboard_icon.png" alt="dashboard icon" class="img-size">
      <p>Dashboard</p>
    </div>
    <div class="icon-container pe-1 ps-1 mt-2 mb-2">
      <img src="/images/fi_truck.png" alt="cars icon" class="img-size">
      <p>Cars</p>
    </div>
  </div>
</div>